.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 60px;
}
  
.articleCard {
    background-color: white;
    height: 100%;
    margin: 15px;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(179,179,179,0.38);
    -moz-box-shadow: 0px 2px 15px 0px rgba(179,179,179,0.38);
    box-shadow: 0px 2px 15px 0px rgba(179,179,179,0.38);
    transition: all .3s;
}
.articleCard:hover {
    -webkit-box-shadow: 0px 7px 15px 2px rgba(179,179,179,0.78);
    -moz-box-shadow: 0px 7px 15px 2px rgba(179,179,179,0.78);
    box-shadow: 0px 7px 15px 2px rgba(179,179,179,0.78);
    transition: all .3s;
  }

.articleCard:nth-child(even) {
    align-self: flex-end;
  }

.articleCardImage {
    background-color: darkgrey;
    flex: 390px 0 0;  
    overflow: hidden;  
    background-position: center center;
    background-size: cover;
}

.articleCard:nth-child(even) .articleCardImage {
    /* flexbox can change order of rendered elements*/
    order: 2;
  }

.articleExcerpt {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Lato';
    font-size: 14px;
    padding: 0 30px 30px 30px;
}
