.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 30px;
}
  
.articleCard {
    background-color: white;
    min-height: 400px;
    margin: 15px;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    -webkit-box-shadow: 0px 3px 36px 0px rgba(117, 117, 117, 0.26);
    -moz-box-shadow: 0px 3px 36px 0px rgba(117, 117, 117, 0.26);
    box-shadow: 0px 3px 36px 0px rgba(117, 117, 117, 0.26);
    
    transition: all .75s;
    /* border: solid 4px black; */
}
.articleCard:hover {
    -webkit-box-shadow: 0px 3px 36px 0px rgba(117, 117, 117, 0.86);
    -moz-box-shadow: 0px 3px 36px 0px rgba(117, 117, 117, 0.86);
    box-shadow: 0px 3px 36px 0px rgba(117, 117, 117, 0.86);
    transform: translateY(-1px);
    transition: all .75;
  }

.articleCard:nth-child(even) {
    align-self: flex-end;
  }

.articleCardImage {
    background-color: rgb(243, 33, 215);
    /* flex: 390px 0 0;   */
    overflow: hidden;  
    background-position: center;
    background-size: cover;
    border-bottom: solid 0px black;
    margin-bottom: 7.5px;
}

.articleCard:nth-child(even) .articleCardImage {
    /* flexbox can change order of rendered elements*/
    order: 2;
  }

.articleExcerpt {
    line-height: 1.25;
    font-size: 16px;
    padding: 0 30px 0px 30px;
    margin-bottom: 7.5px;
    font-weight: 400;
}
