.articles {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}
  
.articleCard {
    max-width: 100%;
    border: solid thin darkgrey;
    display: flex;
    margin-bottom: 30px;
    background-color: #f7f7f7;
}

.articleCard:nth-child(even) {
    align-self: flex-end;
  }

.articleCardImage {
    background-color: darkgrey;
    flex: 390px 0 0;  
    overflow: hidden;  
    background-position: center center;
    background-size: cover;
}

.articleCard:nth-child(even) .articleCardImage {
    /* flexbox can change order of rendered elements*/
    order: 2;
  }

.articleExcerpt {
    font-size: 18px;
    line-height: 1.5;
}
.readButton {
    background-color: rgba(51, 27, 7, 0.35);
    padding: 6px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Lato';
    width: 150px;
    text-align: center;
    letter-spacing: 0.04em;
    transition: all .25s;
}
.readButton:hover {
    cursor: pointer;
    background-color: rgba(51, 27, 7, 0.45);
    transition: all .25s;
}