.logo {
    position: fixed;
    top: 30px;
    left: 30px;
}

.nav {
    position: fixed;
    top: 45px;
    right: 0px;
    z-index: 9999999999;
}
.navItem {
    margin-right: 45px;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
  }