body {
  padding: 0;
  margin: 0;
  background-color: #f3f2f2;

  height: auto !important;

  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

body.modal-open {
  overflow: hidden;
}

.vimeo {
  width: 100%;
  height: 100%;
}

.vimeo-embed > iframe {
  width: 100%;
  height: 100%;
}

.vimeo-image {
  background-image: none !important;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

@import url('//fast.fonts.net/cssapi/26671be6-7c3e-4ffd-89fb-8dc9987a8d71.css');

@import url('https://use.typekit.net/pte4pny.css');
