body {
  padding: 0;
  margin: 0;
  background-color: black;

  height: auto !important;

  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

body.modal-open {
  overflow: hidden;
}