button {
    border: none;
    text-transform: uppercase;
    font-family: 'Lato';
    letter-spacing: 0.06em;
    outline: none;
    cursor: pointer;
    background:none;
}
.subtheme-description {
    font-size: 18px;
    color: rgba(59, 59, 59, 0.8);
    line-height: 1.5;
    max-width: 690px;
/*    text-align: center;
*/  font-family: 'Lato';
    margin-bottom: 45px;
    font-style: italic;
}
.caption {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.02em;
}
.poster {
    width: 100%;
    height: 66%;
    background-color: grey;
    margin-bottom: 15px;
    overflow: hidden;
}
.card-large-text {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}
.RCcard-large-text {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.3;
}
.RCimage {
    height: 70px;
    width: 70px;
    background-color: grey;
    float: left;
}